<p style="color: green"><%= notice %></p>

<hr class="my-4">

<h1 class="text-center">Gestion des Emails en Turbo &hearts; </h1>

<div class=" container text-center">

      
  <%= link_to 'Ecris un nouvel email !', new_email_path, data: { turbo_frame: "new_email" }, class: "btn btn-secondary" %>
 | 
<%= link_to 'Genere un email aléatoire !', generate_email_path, data: { turbo_method: "post"}, method: :post, class: "btn btn-success" %>
</div>

<hr class="my-4">

<div class="container">
  <div class="row">
  <%= turbo_stream_from "emails" %>
    <div  class="col-md-6" id="emails">
          <%= render @emails %>
    </div>

    <div class="col-md-6">
           
      <%= turbo_frame_tag "show_email" do %>
      <h3>Render  ICI :</h3>
      <% end %>
      <%= turbo_frame_tag "new_email" do %>
      <% end %>
    </div>
  </div>
</div>




